<a href="https://colab.research.google.com/github/jaseemjachu/python-/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x=input("enter travel source")
print('travel source',x)
y=input("enter travel destination")
print('travel destination',y)
j=input("number of passengers")
print('number of passengers',j)

enter travel sourcekunnumpuram
travel source kunnumpuram
enter travel destinationgoa
travel destination goa
number of passengers4
number of passengers 4

In [5]:
x=int(input("total ticket fare"))
print("total ticket fare",x)
y=int(input("fare per person"))
z=x/y
print("num of people",z)

total ticket fare200000
total ticket fare 200000
fare per person50000
num of people 4.0

In [6]:
x=int(input("total ticket fare"))
if x>10000 :
  print('eligible for discount')

total ticket fare20000
eligible for discount

In [7]:
x=int(input("total ticker fare"))
if x>15000:
  print("elgible for  20% discount")
else:
  print("elgible for 10% discount")

total ticker fare100000
elgible for  20% discount

In [8]:
x=int(input(" total ticket fare"))
if x>15000:
  print('apply 20% discount')
if x>10000:
   print("apply 10% discount")
else :
   print("apply 5% discount")

 total ticket fare5000
apply 5% discount

In [10]:
x=int(input("entre a number"))
if x>0:
  print("positive")
elif x<0:
  print("negative")
else :
  print("zero")

entre a number-25
negative

In [16]:
x=int(input("age of a pass"))
if x>18:
  print("adult")
elif x>13 and x<19 :
   print("teenager")
elif x>6 and x<12:
  print("kid")
elif x>2 and x<5 :
  print("toddler")
else:
  print("infant")

age of a pass3
toddler

In [21]:
x=(input(" entre initial"))
if x=="a" or x=="e" or x=="i" or x=="o" or x=="u" :
  print("vowel")
else :
  print("not vowel")

 entre initiale
vowel

In [24]:
x=input("characters of passengers")
for a in x:
  print(a)

characters of passengersashik
a
s
h
i
k